.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  min-width: 300px;
}

#map canvas:focus {
  outline: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.ps__rail-y {
  z-index: 10000;
}
